.header {
  position: sticky;
  top:0;
  background: $white;
  z-index: 1000;
  &.open {
      .overlay{
         
      }
    .header_hamburger {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  .overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient($darkBlue, transparent);
   
  }
  .nav {
    padding-top: 1.0265rem;
    padding-bottom: 1.0265rem;
    background: $white;
    position: relative;

  }
  &_logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &_hamburger {
    //Mobile menu
    > span {
      display: block;
      width: 26px;
      background: $darkBlue;
      height: 2px;
      transition: all 0.3s ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  .mobile_menu{
      background: $white;
      padding: 1.625rem 0;
      margin-top: 1.5rem;
      width: calc(100% - 3rem);
      border-radius: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    

      a{
          display: block;
          padding: 0.625rem;
          color: $darkBlue;
          text-align: center;
          transition: all .3s ease-in-out;
        &:hover{
            background: $grayisBlue;
        }
      }
  }
  &_links a {
    font-size: $font_sm;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 5px;
      background: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
      );
      left: 0;
      right: 0;
      bottom: -30px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      color: $darkBlue;

      &::after {
        opacity: 1;
      }
    }
  }
}
